<div
    class="p-4 w-full min-h-screen overflow-y-auto bg-white"
    *ngIf="department"
>
    <div class="text-center">
        <p class="text-4xl font-bold my-4">{{ department.name }}</p>
        <p class="text-md my-4">{{ department.vision }}</p>
        <p-button
            label="Add Staffs"
            (click)="openCreateStaffDialog()"
        ></p-button>
    </div>

    <div *ngFor="let division of department.divisions" class="mt-6">
        <div *ngIf="division.staffs.length">
            <p class="text-2xl font-bold my-4 text-center">
                {{ division.name }}
            </p>

            <div class="flex flex-wrap gap-6">
                <div
                    *ngFor="let staff of division.staffs"
                    class="flex flex-column align-items-center"
                >
                    <div
                        class="flex justify-center"
                        [ngStyle]="getImgUrl(staff.profileUri)"
                        *ngIf="staff.profileUri; else noProfileStaff"
                    ></div>

                    <ng-template #noProfileStaff>
                        <div
                            class="bg-gray-100 flex align-items-center justify-content-center"
                            style="
                                width: 7rem;
                                height: 7rem;
                                border-radius: 100%;
                            "
                        >
                            <span class="text-3xl font-bold">
                                {{ staff.name.charAt(0) }}
                            </span>
                        </div>
                    </ng-template>

                    <div class="text-center mt-2">
                        <p class="text-green-500 font-semibold text-sm">
                            {{ staff.staffStatus }}
                        </p>
                        <p class="font-semibold text-lg mt-1">
                            {{ staff.name }}
                        </p>
                        <p class="text-sm text-gray-600">
                            {{ staff.designation?.name }}
                        </p>
                        <p class="text-sm text-gray-600">
                            {{ staff.email }}
                        </p>
                        <p class="text-sm text-gray-600">
                            {{ staff.contact }}
                        </p>
                    </div>
                </div>
            </div>

            <p-divider></p-divider>
        </div>
    </div>
</div>
