<div>
    <p class="text-4xl font-bold">Welcome {{ authenticatedUser.name }}</p>
    <p>
        {{ authenticatedUser.designation?.name }}
    </p>
    <p>
        {{ authenticatedUser.division?.name }},{{
            authenticatedUser.department?.name
        }}
    </p>
</div>
<p-divider></p-divider>

<div>
    <div class="flex gap-6">
        <div class="w-5">
            <p class="text-2xl font-semibold mb-6">...on your Desk</p>
            <div class="grid">
                <div
                    *ngFor="let item of pendingLetters; let index = index"
                    class="border-1 w-full border-gray-100 p-4 cursor-pointer hover:shadow-lg"
                    (click)="goToViewLetter(item)"
                >
                    <p-tag
                        [value]="item.isClosed ? 'Resolved' : 'Pending'"
                        [severity]="item.isClosed ? 'success' : 'danger'"
                    >
                    </p-tag>
                    <p class="text-lg font-bold">
                        Subject:
                        <span class="underline">{{ item.subject }}</span>
                    </p>
                    <p class="font-semibold mt-2">
                        {{ item.direction === "IN" ? "From" : "To" }}
                        {{ item.outRecipient }}, {{ item.outOffice }}
                    </p>
                    <p class="mb-1 font-gray-900">
                        Received
                        {{
                            getDaysElapsed(item.createdAt) === 0
                                ? "Less than a day ago"
                                : getDaysElapsed(item.createdAt) + " day ago"
                        }}
                    </p>
                </div>
            </div>
        </div>
        <div class="w-7">
            <p class="text-2xl font-semibold mb-6">
                Here's whats happening in the department
            </p>
            <div class="grid">
                <div
                    class="col-6 p-4 border-1 border-gray-200 cursor-pointer hover:shadow-lg flex flex-column justify-content-between"
                    *ngFor="let item of latestLetters"
                    (click)="goToViewLetter(item)"
                >
                    <p-tag
                        [value]="item.isClosed ? 'Resolved' : 'Pending'"
                        [severity]="item.isClosed ? 'success' : 'danger'"
                    >
                    </p-tag>
                    <p class="mt-2">
                        {{ item.direction === "IN" ? "From" : "To" }}
                        <strong>
                            {{ item.outRecipient }},
                            {{ item.outOffice }}</strong
                        >
                    </p>
                    <div>
                        <p class="font-semibold mt-4">
                            Sub: {{ item.subject }}
                        </p>
                    </div>
                    <p class="mb-1 font-gray-900">
                        Received
                        {{ item.createdAt | date : "mediumDate" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
