<p-toast />

<div class="">
    <div>
        <div class="flex flex-column gap-2 my-3">
            <label for="departmentId">Department</label>
            <p-dropdown
                [(ngModel)]="selectedDepartment"
                [options]="departments"
                optionLabel="name"
                placeholder="Select Department"
                appendTo="body"
                (onChange)="getDivisionsByDepartment()"
            ></p-dropdown>
        </div>

        <div class="flex flex-column gap-2 my-3">
            <label for="divisionId">Division</label>
            <p-dropdown
                [(ngModel)]="selectedDivision"
                [options]="divisions"
                optionLabel="name"
                placeholder="Select Division"
                appendTo="body"
                (onChange)="getStaffsByDivision()"
            ></p-dropdown>
        </div>

        <div class="flex flex-column gap-2 w-full my-3">
            <label for="toId">Staff</label>
            <p-dropdown
                [(ngModel)]="selectedStaff"
                [options]="staffs"
                optionLabel="name"
                appendTo="body"
                class="p-fluid"
                placeholder="Select Staff"
            >
                <ng-template let-staff pTemplate="item">
                    <div class="flex flex-column">
                        <span class="font-medium text-gray-800">{{
                            staff.name
                        }}</span>
                        <small class="text-sm text-gray-500">{{
                            staff.designation?.name
                        }}</small>
                    </div>
                </ng-template>
            </p-dropdown>
        </div>

        <div class="flex flex-column gap-2 my-3">
            <label for="remarks">Remarks</label>
            <textarea
                pInputTextarea
                rows="4"
                [(ngModel)]="remarks"
                placeholder="Remarks..."
                inputId="remarks"
            ></textarea>
        </div>
        <p-divider></p-divider>
        <div class="mt-4 flex justify-content-end gap-2">
            <p-button label="Close" text="true"> </p-button>
            <p-button label="Forward Letter" (click)="forwardLetter()">
            </p-button>
        </div>
    </div>
</div>
